<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <br>

    <div>
      <h2 class="reviews-header">Customer reviews</h2>
      <h3>Overall rating: <i><%= @overall_rating %>/5</i></h3><br>
      <% if @product.ratings.length > 0 %>
        <% @product.ratings.reverse.each do |rating| %>
          <% user = User.find(rating.user_id) %>
          <dl class="user-reviews">
            <p><b>- <%= user.name %> -</b></p>
            <dd><%= rating.description %> - <i><b><%= rating.rating %>/5 </i></b></dd>
            <% if user == current_user %>
              <%= link_to 'Delete', product_rating_path(@product, rating.id), method: :delete, class: 'btn btn-xs btn-danger' %>
            <% end %>
            <br>
          </dl>
        <% end %>
      <% else %>
        <p>This product doesn't have any reviews</p>
      <% end %>
    </div>
    <div>
      <% if @user_id %>
        <h4>Rate this product</h4>
        <%= form_for @rating, url: product_ratings_path(@product) do |form| %>
          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.select :rating, [nil, '1', '2', '3', '4', '5'], class: 'form-control' %> out of 5
          </div>
          <div class="form-group">
            <%= form.label :Review %>
            <%= form.text_field :description, class: 'form-control' %>
            <%= form.hidden_field :product_id, value: @product.id %>
            <%= form.hidden_field :user_id, value: @user_id %>
          </div>


        <%= form.submit 'Submit review', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>

  </article>

</section>
